/*

REPLACEMENT STYLES

*/



#top {
background-image: url(/templates/cca/images/header_bg_clinician.png);
}


#left {
background-image: url(/templates/cca/images/left_img_clinician.png);
}


/*

BASIC HEADER STYLES

*/


#clinicians .contentpaneopenceu .contentheadingceu, 
#clinicians .contentpaneopenceu .contentheadingceu a:link, 
#clinicians .contentpaneopenceu .contentheadingceu a:visited, 
.componentheadingceu, 
.contentheadingceu {

/*MAKE SURE THIS STYLE MATCHES BASE H1 STYLE*/

font-size: 20px;
line-height: 24px;
font-family: Arial, Helvetica, sans-serif;
color: #286FB0;
padding: 0px 0px 20px 0px;
font-weight: normal;
}


#clinicians .contentheadingceu a:link, 
#clinicians .contentheadingceu a:visited, 
#clinicians .contentheadingceu, 
#clinicians .contentheadingclinicianhome a:link, 
#clinicians .contentheadingclinicianhome a:visited, 
#clinicians .contentheadingclinicianhome, 
#clinicians .article_column .contentheadingceu a:link,
#clinicians .article_column .contentheadingceu a:visited {

/*MAKE SURE THIS STYLE MATCHES BASE H3 STYLE*/

font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
margin: 0px;
padding: 6px 0px 6px 0px;
color: #8DAF15;
}

#clinicians #labels_container .componentheadingceu {
padding: 0px!important;
}


#clinicians .contentheadingceu {
padding: 20px 0px 0px 0px!important;
clear: both;
}

#clinicians #labels_container .contentheadingceu {
padding: 22px 0px 0px 2px!important;
}

#clinicians .contentpaneopenceu .contentheadingceu {
padding: 0px 0px 20px 0px!important;

}

#clinicians .blogceu .contentpaneopenceu .contentheadingceu {
padding: 0px 0px 0px 0px!important;

}



/*

NEW STYLES

*/

#clinicians .clearlinkhome2 {
display: block;
float: left;
width: 620px;
height: 75px;
}

#clinicians .contentpaneopentestimonial, #clinicians #left_ad {
display: none;
}




/*  
-- signup form  
*/



#clinicians #mc_embed_signup {
padding: 0px 20px;
margin: 20px 0px 20px 0px;
}

#clinicians #mc_embed_signup fieldset {
padding: 0px;
border: none!important;
}

#clinicians #mc_embed_signup #mc_signupform_title {
margin: 0px;
padding: 0px;
line-height: 16px;
font-weight: bold;
font-size: 10px;
color: #286FB0;
}

.mc-field-group {
margin: 0px 0px 5px 0px;
padding: 0px;
float: left;
}

#clinicians #mc_embed_signup input, #clinicians #mc_embed_signup label, #clinicians #mc_embed_signup select {
float: left;
clear: both;
}

#clinicians #mc-embedded-subscribe {
margin: 10px 0px 0px 0px;
border: none;
text-transform: uppercase;
font-size: 9px;
color: #ffffff;
background-color: #B8DC42;
padding: 3px;
}

.mc_embed_close {
display: none;
}



/*  
-- clinician homepage 
*/

#clinicians .contentpaneopenclinicianhome {
width: 310px;
float: left;
}

#clinician_intro strong {
font-weight: normal;
font-size: 14px;
color: #286FB0;
}

.moduletable_ceu_list, .moduletable_ceu_spotlight {
float: right;
width: 198px;
clear: right;
margin: 0px 0px 20px 0px;
}

.moduletable_ceu_list ul {
margin: 0px;
}

.moduletable_ceu_list li {
margin-top: 6px;
line-height: 14px;
font-size: 10px;
}



/*  
-- ce program listing category blog 
*/


#clinicians .labels-label-list, #clinicians .labels-other-labels {
float: left;
clear:  both;
display: block;
width: 100%;
font-size: 9px;
line-height: 12px;
text-transform: uppercase;
color: #92BEE7;
padding: 0px 0px 30px 0px;
margin: 0px 0px 10px 2px;
border-bottom: 1px solid #E3EFF9;
}

#clinicians .labels-label-list a:link, #clinicians .labels-label-list a:visited, 
#clinicians .labels-other-labels a:link, #clinicians .labels-other-labels a:visited {
text-transform: none;
background-color: #BDD8F0;
color: #ffffff;
padding: 1px 3px;
margin: 0px 2px;

}

#clinicians .labels-label-list a:hover, #clinicians .labels-other-labels a:hover {
text-decoration: none;
background-color: #92BEE7;
}

#clinicians #labels_container {

}

.label_item_text {
padding: 4px 0px 2px 2px;
}


/*  
-- tag cloud
*/

.labels-cloud-module_ceu_cat {
padding: 0px;
margin: 0px 0px 0px 20px;
width: 130px;
float: right;
}

.labels-cloud-module_ceu_cat li {
list-style: none;
padding: 0px;
margin: 0px 0px 5px 0px;
font-size: 9px;
line-height: 12px;
}


/*  
-- clinician resoureces
*/

#clinicians .setblartcllist {
width: 540px;
}

#clinicians .setdtoc {
text-align: right;
}

.setd_title .small span {
font-size: 9px!important;
color: #B8DC42;
}

#clinicians #category60 {
padding-top: 30px;
}














