/*



TABLE OF CONTENTS

-----------------



-GENERAL HTML

-GENERAL TEMPLATE

--NAVs

----main nav

----sub nav

--FOOTER

-GENERAL JOOMLA

--SEARCH

-SPECIFIC BY PAGE/MODULE

--HOMEPAGE

----homepage poll

----virtual tour entrance

----testimonials

--SEARCH RESULTS

--FAQ

--POLL RESULTS

--EVENTS PAGE

--VIRTUAL TOUR

--MEMBER PROFILES

--CLINIC LOCATIONS

--CAREERS

--LOGIN PANEL

--FRONTEND EDITING

--CCA WEEK

*/





/*

-

-

GENERAL HTML

-

-

*/



body {

background-image: url(../images/bg.png);

background-repeat: repeat-x;

background-color: #D3E6F5;

}



html, body, div, span, ul, li, table, tr, td, p {

margin: 0px;

padding: 0px;

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size: 11px;

line-height: 20px;

color: #1A466F;

}



input, textarea, select {

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size: 11px;

line-height: 18px;

}



p {

padding: 0px 0px 18px 0px;

margin: 0px;

}



h1, 

.componentheading, 

.contentheading, 

.componentheadingnews, 

.contentheadingevents, 

.contentheadingprofiles, 

.contentheadinglocations, 

.componentheadingnews, 

.contentheadingcareers, 

.componentheadingbystate, 

.componentheadingnewsletters {

font-size: 20px;

line-height: 24px;

font-family: Arial, Helvetica, sans-serif;

color: #286FB0;

padding: 0px 0px 20px 0px;

font-weight: normal;

}



a:link, a:visited {

text-decoration: none;

color: #286FB0;

}



a:hover {

text-decoration: underline;

}



h1 a:hover {

text-decoration: none;

}



h3, 

h3 a:link, 

h3 a:visited {

font-size: 16px;

font-family: Arial, Helvetica, sans-serif;

font-weight: bold;

margin: 0px;

padding: 6px 0px 6px 0px;

color: #8DAF15;

}



h4, h4 a:link, h4 a:visited, .contentheadingnews, .moduletable_ceu_list h3, .moduletable_ceu_spotlight h3, .setd_title {

font-size: 13px;

font-weight: normal;

margin: 0px;

padding: 6px 0px 6px 0px;

color: #8DAF15;

}



h5, h5 a:link, h5 a:visited {

font-size: 12px;

font-weight: bold;

margin: 0px;

padding: 6px 0px 6px 0px;

color: #92BEE7;

}



h6 /*FOOTNOTES!!!*/ {

font-size: 9px;

font-weight: normal;

line-height: 14px;

color: #8E9FAF;

border-top: 1px solid #E0E8EF;

padding: 10px 0px 0px 0px;

}



img {

margin: 0px;

border: 0px;

}



ul {

margin: 6px 0px 12px 20px;

list-style: none;

}



ul ul {

margin: 0px 0px 6px 6px;

}



li {

margin: 10px 0px 0px 0px;

list-style: none;

padding: 0px 0px 6px  12px;

background-image: url(../images/cross_bullet.png);

background-repeat: no-repeat;

background-position: 0px 6px;

}



li li {

margin: 4px 0px 0px 0px;

padding: 4px 0px 4px  12px;

}



ol  {

list-style: decimal;

margin: 6px 0px 12px 0px;

padding: 0px 0px 0px 30px;

}



ol li {

background-image: none;

list-style: decimal;

}



fieldset {

border: none;

margin: 10px 0px;

padding: 20px 0px;

border-bottom:1px solid #D3E6F5;

}



fieldset div {

padding: 6px 0px;

}







/*

-

-

GENERAL template

-

-

*/



#container {

width: 800px;

margin: 0px auto;



}



#top {

width: 800px;

height: 110px!important;

background-image: url(../images/header_bg2.png);

background-repeat: no-repeat;

overflow: hidden;

position: relative;

z-index: 100;

}



#absolute {

position: relative;

z-index: 50;

width: 800px;

/*overflow: hidden;*/

margin: 0px auto 0px auto;

}



#nav {

float: right;

width: 600px;

height: 30px;

}



#mainbody {

background-image: url(../images/mainbody_bg.png);

background-repeat: repeat-y;

width: 800px;

}



#left {

width: 206px;

float: left;

background-image: url(../images/left_img2.png);

background-repeat: no-repeat;

padding: 190px 0px 0px 0px

}



#right {

width: 594px;

float: right;

/*background-color: #ffffff;*/

}



#news {

width: 584px;

height: 30px;

background-image: url(../images/news_bg.png);

background-repeat: repeat-x;

padding: 6px 0px 0px 10px;

overflow: hidden;

position: relative;

z-index: 0;

}



#textarea {

padding: 20px 20px 20px 26px;





width: 540px!important;

/*overflow: hidden;*/

float: left;

}



#footer {

width: 800px;

height: 30px;

background-image: url(../images/footer_bg.png);

background-repeat: repeat-x;

}



.clearlinkhome {

display: block;

float: left;

width: 180px;

height: 106px;

}



.clearlinkclinic {

display: block;

float: right;

width: 180px;

height: 75px;

}



.hiddenlink {

display: none;

}



/*

-

Navs

-

*/



/*

main nav

*/



#nav ul {

list-style: none;

padding: 14px 0px 0px 0px;

margin: 0px;

}



#nav li {

float: left;

margin: 0px;

padding: 0px 10px;

background-image:none;

border-right: 1px solid #ffffff;

}

.item-111{border:none !important;}



#nav li {

color: #ffffff;

position: relative;

text-transform: uppercase;

font-weight: bold;

font-size: 10px;

padding: 0px 10px; line-height:1.2;

}



li.item6 span, li.item9 span { /* CHANGE ITEM NUMBER IF LAST NAV ITEM CHANGES!!! */

border-right: none!important;

}



#nav li a {

color: #ffffff;font-family:Verdana, Geneva, sans-serif;

}



#nav li a:hover {

text-decoration: none;

}



#nav li a:hover span {

text-decoration: underline;

}



#nav li.active a:hover span {

text-decoration: none;

}



#nav li.active a:hover {

text-decoration: underline;

}



#nav li.active span {

background-color: #ffffff;

color: #92BEE7;

}



#nav li.item1 a:hover span {

text-decoration: underline;

}



#nav li.item1 a:hover {

text-decoration: none;

}



#nav li.item1 span {

background: none!important;

color: #ffffff;

}



#nav .item1 {

/*display: none;*/

}

.active {background-color: #ffffff;}

.active a{color: #92BEE7 !important;}



/*

sub nav

*/



.moduletabelsubmenu {

margin: 0px;

padding: 0px;

}





.moduletablesubmenu ul {

list-style: none;

width: 540px;

display: block;

float: left;

clear: both;

margin: -22px 0px 20px -5px;

padding: 0px 0px 10px 0px;

}



.moduletablesubmenu li {

float: left;

padding: 3px 18px 3px 10px;

display: block;

visibility:hidden;

background-image: url(../images/arrow_bullet.png);

background-repeat: no-repeat;

background-position: center left;

margin: 0px;

line-height: 18px!important; /*MUST BE THE SAME IN LI AND SPAN!!*/

}

.moduletablesubmenu li.deeper ul{border-bottom: 1px solid #92BEE7;visibility:visible !important;}

.moduletablesubmenu li.deeper ul li{visibility:visible !important;}

.moduletablesubmenu li.deeper ul li a{color:#55ACE0 !important;}

.moduletablesubmenu li.deeper ul li.active a{color:#92BEE7 !important;}

.moduletablesubmenu li.deeper ul li a:hover{color:#55ACE0 !important; text-decoration:underline;}



.moduletablesubmenu a:link, .moduletablesubmenu a:visited {

color: #92BEE7;

}





.moduletablesubmenu a span {

color: #5591C8;

line-height: 18px!important; /*MUST BE THE SAME IN LI AND SPAN!!*/

}



.moduletablesubmenu #current a span, .moduletablesubmenu .parent .active a span {

color: #92BEE7;

}



.moduletablesubmenu #current a:hover span, .moduletablesubmenu .parent .active a:hover span {

color: #5591C8;

}







/*

sub sub nav

*/



.moduletabelsubsubmenu {

margin: 0px;

padding: 0px;

}





.moduletablesubsubmenu ul {

list-style: none;

width: 540px;

display: block;

float: left;

clear: both;

margin: -54px 0px 20px 0px;

padding: 0px 0px 10px 0px;

}



.moduletablesubsubmenu li {

float: left;

padding: 3px 18px 3px 0px;

visibility:hidden;

margin: 0px;

background-image:none;

}

.moduletablesubsubmenu li.deeper ul{visibility:visible !important;}

.moduletablesubsubmenu li.deeper ul li{visibility:visible !important;}

.moduletablesubsubmenu li.deeper ul li a{color: #92BEE7; !important;}

.moduletablesubsubmenu li.deeper ul li.active a{color:#C7DC8E !important;}

.moduletablesubsubmenu li.deeper ul li a:hover{color: #92BEE7; !important; text-decoration:underline;}

.moduletablesubsubmenu a:link, .moduletablesubsubmenu a:visited {

color: #B8DC42;

}





.moduletablesubsubmenu a span {

color: #92BEE7;

}



.moduletablesubsubmenu #current a span, .moduletablesubsubmenu .parent a span {

color: #AABF5F;

}



.moduletablesubsubmenu #current a:hover span, .moduletablesubsubmenu .parent a:hover span {

color: #B8DC42;

}





/*

-

Footer

-

*/



#footer p {

color: #92BEE7;

margin: 0px;

padding: 6px;

text-transform: uppercase;

font-size: 10px;

width: 330px;

float: left;

clear: none;

}



ul#footermenu {

list-style: none;

float: right;

clear: none;

width: 240px;

padding: 0px 6px;

}



ul#footermenu li {

float: left;

background-image:none;

margin: 0px;

padding: 0px;

}



ul#footermenu li a {

padding: 0px 6px;

border-right: 1px solid #92BEE7;

text-transform: uppercase;

font-size: 9px;

font-weight: bold;

color: #92BEE7;

}

ul#footermenu li a:hover{color:#ffffff;}

.item-114 a{border:none !important;}





ul#footermenu a:hover {

text-decoration: none;

}



ul#footermenu a:hover span {

color: #ffffff;

}

ul#footermenu li.active{background:none  !important;}





/*

-

-

GENERAL Joomla

-

-

*/



div.contentpane {

margin: 0px;

padding: 0px;

}



.contentpaneopen, .contentpane, .contentpaneopentestimonial, .contentpaneopenevents, .contentpaneopenprofiles, .contentpaneopenlocations, .contentpaneopennews, .contentpaneopencareers, .contentpaneopenceu, .contentpaneceu, .contentpaneopenclinicianhome, .contentpaneclinicianhome {

width: 100%;

float: left;/*ADDED TO FIX SAFARI*/

}





.jce_size {

font-size: 9px;

color: #B8DC42;

}



.jce_date {

color:#92BEE7

}



.pagenavcounter, .pagenavbar {

display: none;

}



.article_separator {

display: none;

}



/*

-

search

-

*/



.searchsearch {

height: 20px;

overflow: hidden;

margin: 6px 0px!important;

padding: 0px;

}



.inputboxsearch {

height: 14px!important;

width: 160px;

margin: 0px 2px 0px 0px;

float: left;

border: 0px;

background-color: #92BEE7;

color: #ffffff;

padding: 3px 3px 3px 15px;

font-size: 10px;

}



#left form {

margin: 0px;

padding: 0px;

}





/*

-

-

SPECIFIC BY PAGE

-

-

*/





/*

-

homepage

-

*/







.bloghome p {

color: #286FB0;

text-align: justify;

width: 310px;

_width: 306px;

line-height: 24px;

}





/*

homepage poll

*/



.moduletablepoll {

width: 198px;

float: right;

padding: 6px 0px;

}



.pollpoll td {

font-size: 10px;

font-weight: bold;

color: #286FB0;

text-align: left;

}



.pollpoll thead td {

padding: 0px 0px 10px 0px;

}



.pollstableborderpoll td {

padding: 6px 0px;

font-weight: normal;

}



#poll #buttons {

text-align: right;

}



#poll .button {

border: none;

text-transform: uppercase;

font-size: 9px;

color: #ffffff;

background-color: #D1E0ED;

padding: 3px;

}



/*

ads

*/



img#left_ad {

margin: 10px 15px 15px 15px;

}



.moduletableevent_announcement {

float: right;

position: relative;

top: -26px;

right: -28px;

margin: 0px!important;

width: 226px;

overflow: hidden;

}







/*

virtual tour entrance

*/



#tour {

width: 540px;

height: 220px;

background-image: url(../images/tour_bg.png);

background-repeat: no-repeat;

/*display: block;*/

float: left;

clear: both;

margin: 10px 0px 20px 0px;

}



#tour a {



color: #ffffff;

display: block;

height: 80px;

width: 468px;

overflow: hidden;

padding: 46px 36px;

}



#tour a:hover {

text-decoration: none;

}



#tour a img {

position: relative;

top: 1px;}



#tour a:hover img {

padding-left: 4px;

}



/*

-

testimonials

-

*/



.contentpaneopentestimonial {

padding: 0px;

}



.contentpaneopentestimonial p {

margin: 10px 0px 0px 14px;

background-color: #ffffff;

padding: 4px 10px;

font-size: 10px;

background-image: url(../images/quote_top.png);

background-repeat: no-repeat;

width: 153px;

color: #286FB0;

}



.contentpaneopentestimonial h6 {

background-image: url(../images/quote_bottom.png);

background-repeat: no-repeat;

margin: 0px 0px 10px 14px;

padding: 20px 14px 0px 40px;

font-size: 9px!IMPORTANT;

font-weight: normal;

line-height: 12px;

color: #92BEE7;

border: none!important;

}





/*

-

FAQ

-

*/



dl {

border-bottom: 1px solid #E3EFF9;

margin: 0px 0px 30px 0px;

}



dt {

font-weight: bold;

margin: 20px 0px 0px 0px;

}



dd {

margin: 0px 0px 8px 10px;

}



/*

-

SEARCH RESULTS

-

*/





#searchForm td {

padding: 6px 0px;



}



#search_searchword.inputbox {

border: none;

float: left;

border: 0px;

background-color: #92BEE7;

color: #ffffff;

padding: 3px;

height: 16px!important;

}



#searchForm .button {

border: none;

background-color: #BDD8F0;

height: 22px;

padding: 20px 0px 0px 0px;

color:#BDD8F0;

font-size: 1px;

/*font-weight: bold;

text-transform: uppercase;*/

width: 22px;

background-image: url(../images/search_arrow.png);

background-repeat: no-repeat;

background-position: center;

}



/*

-

POLL RESULTS

-

*/





.yesnomaybe {

display: block;

font-size: 16px;

font-weight: bold;

color: #92BEE7;

font-family: Arial, Helvetica, sans-serif;

padding: 6px 0px;

}



.contentpane .pollstableborder {

width: 530px;



}



.bargraph, .votepercent {

padding-bottom: 20px;

}





.poll_stats {

border-top: 1px solid #92BEE7;

width: 100%;

padding-top: 10px;

}



.poll_stats p {

color: #286FB0;

}





/*

-

EVENTS PAGE

-

*/





.contentpaneopenevents p {

padding: 0px 0px 12px 10px;

}





/*

-

VIRTUAL TOUR PAGE



-

*/





#virtual_tour, #virtual_tour_ext {

display: block;

width: 540px;

height: 380px;



background-image: url(../images/examroom.jpg);

}



#virtual_tour_ext {



height: 300px;

background-image: url(../images/waitingroom.jpg);

}





div.yoo-tooltip div.default .tooltip-m p {

padding: 10px;

}



.info {

background-image: url(../images/info.png);

_background-image: url(../images/info.gif);

background-repeat: no-repeat;

background-position: center;

width: 30px;

height: 30px;

}



.info_door {

_background-image: url(../images/info_arrow.gif);

background-repeat: no-repeat;

background-position: center;

width: 30px;

height: 30px;

}



.info_door img {

_visibility: hidden;

}



/*exterior*/



#info_checkin {

width: 30px;

height: 30px;

position: relative;

left: 98px;

top: 141px;

}



#info_door1 {

width: 30px;

height: 30px;

position: relative;

left: 290px;

top: 120px;

}



#info_monitor {

width: 30px;

height: 30px;

position: relative;

left: 458px;

top: 20px;

}







/*interior*/



#info_wall {

width: 30px;

height: 30px;

position: relative;

left: 350px;

top: 20px;

}



#info_computer {

width: 30px;

height: 30px;

position: relative;

left: 305px;

top: 65px;

}



#info_floor {

width: 30px;

height: 30px;

position: relative;

left: 150px;

top: 250px;

}



.image img {

position: relative;

top: 5px;

}



/*

-

MEMBER PROFILES

-

*/



#corporate, #executive, #associate {

width: 530px;

border: 1px dotted #E3EFF9;

padding: 5px 0px 10px 5px;

margin: 0px 0px 10px 0px;

/*background-color: #E3EFF9;*/



}





#corporate {

/*float: right;*/

}



#executive {

/*float: left;

padding-bottom: 20px;

margin: 0px 10px 10px 0px;*/

}



#associate {

float: left;

}



#associate span {

display: inline-block;

font-size: 9px;

line-height: 12px;

width: 50px;

padding: 10px;

background-color: #ffffff;













}



#corporate img, #executive img, #associate img, #associate p {

margin: 2px;

}



.contentpaneopenprofiles h5 {

margin: 20px 0px 0px 0px;

border-top: 1px dotted;

padding-top: 20px;

display: block;

width: 100%;

clear: both!important;

}



img.logo {

float: left;

position: relative;

left: -10px;

margin-bottom: 20px;

}



#corporate a:hover img, #executive a:hover img, #associate a:hover img {

position: relative;

top: 2px;

}



#corporate a:active img, #executive a:active img, #associate a:active img {

position: relative;

top: 0px;

}





/*

-

CLINIC LOCATIONS

-

*/





.contentpaneopenlocations img {

border: 1px solid #92BEE7;

margin: 10px;

float: left;



}



.contentpaneopenlocations h3 {

clear: both;

}



.contentpaneopenlocations ul {

padding: 0px;

margin: 0px;

}



.blogbystate .article_column img {

display: none;

}



.blogbystate .article_column p {

display: none;

}



.blogbystate ul {

margin-top: 0px!important;

margin-bottom: 0px!important;

/*border: 1px solid green;*/

padding: 0px!important;

}



.blogbystate li {

margin:10px 0px 0px  0px;



}



.blogbystate table, .blogbystate tbody, .blogbystate tr, .blogbystate td {

/*border: 1px solid orange;*/

margin: 0px!important;

padding: 0px!important;

}



.blogbystate .article_separator {

display: none;

}





.blogbystate #cat_description {

padding: 0px 0px 20px 0px;

}





.blogbystate #cat_description img {

margin: 10px;

}





.blogbystate #cat_description #memberlocationlogos {

border-top: 1px solid #D3E6F5;

margin: 30px 0px 0px 0px;

padding: 30px 0px 0px 0px;

display: block;

clear: both!important;

}



.blogbystate #cat_description .yoo-maps form p {

display: block;

clear: both!important;

margin: 20px 0px 20px 0px;

}



.yoo-maps {

/*border: 1px solid orange;*/

}



.yoo-maps ul {

float: left;

clear: both!important;

display: block;

}



.yoo-maps #directions {

display: block;

clear: both;

padding: 0px 0px 30px 0px!important;

}



.googledir div td {

padding: 10px!important;

background-color: #B8DC42;

color: #ffffff;

border: 0px!important;

}



.googledir div div td {

padding: 20px 10px!important;

background-color: #EFF8FF;

color: #1A466F; 

}











/*

-

CAREERS

-

*/





.contentpaneopencareers img {

border: 1px solid #92BEE7;

margin: 10px;

}





/*

-

LOGIN PANEL

-

*/



#absolute .article {

padding: 0px 0px 0px 20px;

}



#absolute h3 {

color: #286FB0;

}



#loginleft {

width: 320px;

float: left;

}



#loginright {

width: 400px;

float: right;

padding: 0px 30px 0px 20px;

border-left: 1px dotted #ffffff;

}



#loginleft .login {

padding: 0px;

margin: 0px;

}



#loginleft .login p {

float: left;

clear: both;

padding: 10px 0px 0px 0px;

}





/*

-

FRONTEND EDITING

-

*/



#textarea form {

float: left;

}





/*

CCA WEEK

-

*/



#ccweekcode {

display: block;

float: right;

font-family:"Courier New", Courier, monospace;

font-size: 12px;

line-height: 16px;

width: 300px;

padding: 10px;

margin: 0px 0px 0px 20px;

background-color: #F1F8FC;

border: 1px solid #92BEE7;

}



.poll{width:198px;float:right;margin:-60px 0px 0px 10px;}

.pol1 h4{font-size: 10px !important;

font-weight: bold;

color: #286FB0 !important;

text-align: left;}

.blog-featuredhome{margin: -55px 0px 0px 0px;

padding: 0px 10px 0px 0px ;

font-family: Verdana, Arial, Helvetica, sans-serif !important;

font-size: 11px;



 text-align:justify;float:left;width:310px;}



.blog-featuredhome p{color: #286FB0 !important;line-height: 24px;}



.searchsearch label{display:none;}

.item-page {margin-top:-70px; float:left;}

.item-page h2{font-size: 20px !important;

line-height: 24px !important;

font-family: Arial, Helvetica, sans-serif !important;

color: #286FB0 !important;

padding: 0px 0px 10px 0px !important;

font-weight: normal !important;}



.item-pageprofiles{margin-top:-70px; float:left;}



.item-pageprofiles h2{font-size: 20px !important;

line-height: 24px !important;

font-family: Arial, Helvetica, sans-serif !important;

color: #286FB0 !important;

padding: 0px 0px 10px 0px !important;

font-weight: normal !important;}



.item-pageprofiles h5{border-top: 1px dotted !important;margin: 30px 0px 0px 0px !important; }



.item-pagelocations , .blogbystate , .item-pageevents , .blognews , .item-pagecareers{margin-top:-70px; float:left;}

.item-pagelocations h2 , .blogbystate h2 span , .item-pageevents h2 , .blognews h2 span , .item-pagecareers h2{font-size: 20px !important;

line-height: 24px !important;

font-family: Arial, Helvetica, sans-serif !important;

color: #286FB0 !important;

padding: 0px 0px 10px 0px !important;

font-weight: normal !important;}



.blogbystate .column-1 img{display:none ;}

.pagination li{float:left;background-image:none !important;}



.syndicate-module img{float:left !important;}



.items-leading h2{font-size: 13px;

font-weight: normal;

margin: 0px;

padding: 14px 0px 6px 0px;

color: #8DAF15;}





.counter{text-align:center;}



.item-pagecareers p img{border: 1px solid #92BEE7;

margin: 10px;}



#searchForm{width:100%;float:left;}

.ccasearch{margin-top:-22px;float:left;width:100%;}

.searchcareers{float:left;margin-top:-32px;padding-top:-22px;}

.word{margin:0px !important;padding-top:0px !important;}



.searchhome{float:left;}

#searchForm fieldset{border:none !important;}



.result-createdhome{border-bottom:1px solid #D3E6F5;}



.poll h4{color:#286FB0 !important; font-size:10px !important;font-weight:bold !important;}


/*--------------------------*/
.item-page h2
{*padding-top:30px !important;}

.item-pageprofiles h2
{*padding-top:30px !important;}

.blognews h2 span
{*margin-top:30px !important;}
/*--------------------------*/
