<div class="well row">
  <div class="span6">
    <div class="control-group">
      <div class="control-label">
        <label id="jform_opensearch_name-lbl" for="jform_opensearch_name" class="hasTooltip" title="">Width of the map, in pixels</label>
      </div>
      <div class="controls">
        {{view Ember.TextField valueBinding="App.settings.general.width" placeholder="500"}}
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">
        <label id="jform_opensearch_name-lbl" for="jform_opensearch_name" class="hasTooltip" title="">Height of the map, in pixels</label>
      </div>
      <div class="controls">
        {{view Ember.TextField valueBinding="App.settings.general.height" placeholder="400"}}
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">
        <label
          id="jform_info_block_position-lbl"
          for="jform_info_block_position"
          class="hasTooltip"
          title="">
          Map Type
        </label>
      </div>
      <div class="controls">
        {{view Ember.Select
          contentBinding="view.selectValues.mapTypes"
          optionValuePath="content.value"
          optionLabelPath="content.label"
          valueBinding="App.settings.general.mapType"}}
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">
        <label
          id="jform_info_block_position-lbl"
          for="jform_info_block_position"
          class="hasTooltip"
          title="">
          Enable the new Google Maps layout
        </label>
      </div>
      <div class="controls">
        {{view Ember.Select
          contentBinding="view.selectValues.yesOrNo"
          optionValuePath="content.value"
          optionLabelPath="content.label"
          valueBinding="App.settings.general.visualRefresh"}}
      </div>
    </div>

  </div>
</div>
