<div class="well row">
  <div class="span6">

    <div class="control-group">
      <div class="control-label">
        <label
          id="jform_info_block_position-lbl"
          for="jform_info_block_position"
          class="hasTooltip"
          title="">
          Automatic zoom
        </label>
      </div>
      <div class="controls">
        {{view Ember.Select
          contentBinding="view.selectValues.yesOrNo"
          optionValuePath="content.value"
          optionLabelPath="content.label"
          valueBinding="App.settings.zoom.auto"}}
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">
        <label
          id="jform_info_block_position-lbl"
          for="jform_info_block_position"
          class="hasTooltip"
          title="">
          Fixed zoom level (used if automatic zoom is off). The map is auto centered based on existing points it will show
        </label>
      </div>
      <div class="controls">
        {{view Ember.Select
          contentBinding="view.selectValues.zoomLevel"
          optionValuePath="content.value"
          optionLabelPath="content.label"
          valueBinding="App.settings.zoom.level"}}
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">
        <label
          id="jform_info_block_position-lbl"
          for="jform_info_block_position"
          class="hasTooltip"
          title="">
          Maximum zoom level when a single place is on the map. This value avoids zooming too much
        </label>
      </div>
      <div class="controls">
        {{view Ember.Select
          contentBinding="view.selectValues.zoomLevel"
          optionValuePath="content.value"
          optionLabelPath="content.label"
          valueBinding="App.settings.zoom.maxZoom"}}
      </div>
    </div>

maxZoom
  </div>
</div>
