<META HTTP-EQUIV="REFRESH" CONTENT="15"><link rel="stylesheet" href="http://localhost/ccaclinic_new/administrator/templates/bluestork/css/template.css" type="text/css" /><div class="m"><p>* This log will be automatically refreshed every 15 seconds.</p><h1>Process Start</h1><h2>Media - Template</h2>10% processed<br/>20% processed<br/>30% processed<br/>40% processed<br/>70% processed<br/>70% processed<br/>70% processed<br/>70% processed<br/>60% processed<br/>70% processed<br/>100% processed<br/><p><u>Note</u>: To finish with template you must manually install it.<br/>Follow below steps:<p/>
<ol><li>Go to <b>Extension Manager</b> menu</li>
<li>Go to tab <b>Install</b> on section <b>Install from Directory</b></li>
<li>Write on field <b>Install Directory</b> this-> <b>"C:\xampp\htdocs\ccaclinic_new/tmp/cca_clinicians"</b></li>
<li>Press button <b>Install</b></li>
</ol></p><h1>Process Completed</h1></div>