@charset "utf-8";
help_container {
	width: 620px;
}

#copyright-block { text-align:center; margin-top:10px; }

    body {
        font-family:Arial,Helvetica,sans-serif;
        font-size:12px;
        line-height:1.3;
    }
    a {
        text-decoration:none;
        font-weight:bold;
    }
    a:hover {
        text-decoration:underline;
    }
    a:active,a:focus {
        outline:none;
    }
    a,h2,a:hover,li#current a,li.parent li#current a,li#current li a:hover {
       color:#009999;
    }
	h1{margin:0px 0px 10px 0px; }
	
    .small,.createdate,.modifydate {
        font:0.9em Arial,Helvetica,sans-serif;
        color:#009999;
    }
    
    span.alert {
        background:#FFD6D6 url(notice-alert.png) no-repeat scroll 10px 50%;
        border-bottom:3px solid #FE7B7A;
        border-top:3px solid #FE7B7A;
        color:#CC0000;
    }
    span.info {
        background:#C0D2E8 url(notice-info.png) no-repeat scroll 10px 50%;
        border-bottom:3px solid #629DE3;
        border-top:3px solid #629DE3;
        color:#0055BB;
    }
    span.note {
        background:#F0E6BE url(notice-note.png) no-repeat scroll 10px 50%;
        border-bottom:3px solid #FDE179;
        border-top:3px solid #FDE179;
        color:#B79000;
    }
    span.download {
        background:#DEE6C5 url(notice-download.png) no-repeat scroll 10px 50%;
        border-bottom:3px solid #C2DF88;
        border-top:3px solid #C2DF88;
        color:#57861A;
    }
    span.alert, span.info, span.download, span.note {
        display:block;
        margin:15px 0pt;
        padding:10px 10px 10px 45px;
    }
    .contenttoc {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
    }
	
	.contenttoc td
	{
		padding:1px;
	}
	
	.contenttoc th
	{
		text-align:left;
	}