<div id="aboutCCADiv" class="cca_continer marginT54" >
    <div class="row-fluid">
        <div class="span12">
            <div class="padding20">
                <h2>About us</h2>
                <div class="aboutus">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="about"><img src="Content/images/ll.png" width="129" height="76">
                                Lorem Ipsum is simply       
                                dummy text of the   
                                printing and typesetting 
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br/><br/>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 	
</div>