<div id="clinicDetailPageDiv" class="cca_continer marginT40">
    <div class="row-fluid">
        <div class="span12">
            <div class="padding20">
                <h2>Bharti Walmart</h2>
                <div class="aboutus">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="map_details">
                                Opposite Pillar 267, Hyderabad Elevated Expressways, Weaker Section Colony, Hyderabad, 
                                AP 500052 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 	
</div>