<div id="clinicDetailPageDiv" class="cca_continer marginT40">
    <div class="row-fluid">
        <div class="span12">
            <div class="padding20">
                <h2>Bharti Walmart</h2>
                <div class="aboutus">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="map_details">
                                <p>
                                    <span class="marker_name">MinuteClinic</span><span>(9.2 mi)</span>
                                    1361 Hylan Blvd Staten Island NY 10305-1902
                                    866-389-2727
                                    Category: CCA Locations
                                </p>
                                <p>
                                    {{if ~getvar('deviceAgent')=='PC'}}
                                        <a href="http://www.minuteclinic.com/" target="_blank">Visit Site >></a>
                                    {{else}}
                                        <a href="#" onclick="openInChildBrowser('http://www.minuteclinic.com/')">Visit Site >></a>
                                    {{/if}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 	
</div>