<div id="clinicOnMapDiv" class="cca_continer marginT55" >
     <div class="row-fluid">
        <div class="span12">
            <div class="serach_location">
                <div id="searchClinicsDiv" class="searchClinics">
                    <input type="text" id="searchClinicsKeyword" placeholder="Enter a Zip / Location" class="input-medium search-query" onkeypress="return enterKeyFunction(event,'searchClinicsButton')" />
                    <button type="button" id="searchClinicsButton" class="btn location_searchButton" onclick="searchClinics()"> &nbsp;</button>
                    <button type="button" class="btn location_currentButton" onclick="getCurrentLocationLatLong()"> &nbsp;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="paddingT5L10">
                <div id="map_canvas" class="map_canvas"></div>
            </div>
        </div>
    </div> 	
</div>