{{if data!=null && data!=""}}
    {{for data}}
        <div id="clinicDetailPageDiv_{{:id}}" class="cca_continer marginT40">
            <div class="row-fluid">
                <div class="span12">
                    <div class="padding20">
                        <h2>{{:name}}</h2>
                        <div class="aboutus">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="clinicDetails" class="map_details">
                                        <p>
                                            <span id="clinicId" style="display:none;">{{:id}}</span>
                                            <span id="clinicName" class="marker_name">{{:name}}</span>
                                            <span id="clinicAddress">{{:address}}</span> <span id="clinicPhoneNo">{{:phone}}</span>
                                            Category: <span id="clinicCategory">{{:Category}}</span>
                                        </p>
                                        <p>
                                            {{if ~getvar('deviceAgent')=='PC'}}
                                                <a href="{{:website}}" target="_blank">Visit Site >></a>
                                            {{else}}
                                                <a href="#" onclick="openInChildBrowser('{{:website}}')">Visit Site >></a>
                                            {{/if}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 	
        </div>
    {{/for}}
{{/if}}