<div id="aboutCCADiv" class="cca_continer" >
    <div class="row-fluid">
        <div class="span12">
            <div class="padding20">
                <h2>FAQs</h2>
                <div class="aboutus marginT7">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="about">
                            <a onclick='displayAnswer(1);'>1. What is a retail clinic?</a><br />
                            <span id='A1' style='display:none;'><br />A retail clinic is a healthcare clinic located in high traffic retail outlets such as pharmacies, big-box retailers and grocery stores. Staffed primarily by nurse practitioners and physician assistants, most retail clinics are open 7 days a week for approximately 8-12 hours per day, and offer minor acute care services, wellness and preventive services and chronic disease care.<br /><br /></span><br />
                            <a onclick='displayAnswer(2);'>2. What services are offered in retail clinics?</a><br />
                            <span id='A2' style='display:none;'><br />Retail clinics offer patients ages 18 months and older services for acute, episodic care, wellness and preventive services, and chronic disease screenings, diagnosis and management. Specific services offered include, but are not limited to, episodic acute care – ear infections, sore throats, cold, flu, bronchitis, wellness and preventive services – immunizations, physicals for school, camp, employment; weight management; smoking cessation, and chronic disease management and screening – biometric screenings, blood glucose testing and monitoring, and blood pressure screening and monitoring.<br /><br /></span><br />
                            <a onclick='displayAnswer(3);'>3. Who provides the services in retail clinics?</a><br />
                            <span id='A3' style='display:none;'><br />Retail clinic providers usually include licensed, highly-trained physician assistants (PAs) or nurse practitioners (NPs), who are qualified to diagnose, treat, and prescribe to a scope well beyond the typical scope of services in a convenient care clinic. They are supported by an electronic health record, including established evidence-based protocols, and are supervised by local physicians according to state law.</br>The NPs who generally staff retail clinics are registered nurses with master’s degrees or comparable training. They are licensed and certified to diagnose, treat and prescribe medications for common medical conditions, as well as administer preventive care.</br>
							Research consistently shows that NPs and PAs provide care that is comparable in quality to physician care.<br /><br /></span><br />
                            <a onclick='displayAnswer(4);'>4. Do retail clinics accept insurance?</a><br />
                            <span id='A4' style='display:none;'><br />Yes, retail clinics accept most commercial insurance.  Retail-based clinics are the lowest cost unsubsidized health care option in the country if a person is uninsured or on a high deductible or catastrophic health plan.  The average cost is $75. Treatment prices are clearly marked in each clinic or on the clinic websites. Some clinics accept Medicare and Medicaid. It is suggested that people planning on visiting a clinic they should call and ask if their insurance is accepted or what the fees are for the services they are seeking and/or check the respective clinic website.<br /><br /></span><br />
                            <a onclick='displayAnswer(5);'>5. How can I find a retail clinic near me?</a><br />
                            <span id='A5' style='display:none;'><br />To find a retail clinic nearest you, you can enter your address or zip code into “Retail Clinic Finder” section of the CCA application or visit <a href="#" onclick="openInChildBrowser('http://ccaclinics.org')">www.ccaclinics.org</a> and click on “find a clinic.” <br /><br /></span><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 	
</div>