<div id="companyLogosDiv" class="cca_continer logos_top">
    <div class="row-fluid">
        <div class="span12">
            <div class="span3">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_boxes"><img src="Content/images/promotion.png" align="absmiddle" /> </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_boxes"><img src="Content/images/vendor1.png" align="absmiddle" /></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_boxes"><img src="Content/images/vendor2.png" align="absmiddle" /></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_boxes"><img src="Content/images/vendor3.png" align="absmiddle" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span6">
                            <div class="paddingouter">
                                <div class="clients_boxes"><img src="Content/images/vendor4.png" align="absmiddle" /></div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="paddingouter">
                                <div class="clients_boxes"><img src="Content/images/vendor5.png" align="absmiddle" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_box_big">
                                <img src="Content/images/login_logo.png" align="absmiddle" style="height:115px;border:0px;cursor: pointer;"/>
                                <img src="Content/images/navigation_right.png" style="border:0px;cursor: pointer;" onclick="loadClinics('Map');"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span6">
                            <div class="paddingouter">
                                <div class="clients_boxes"><img src="Content/images/vendor6.png" align="absmiddle" /></div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="paddingouter">
                                <div class="clients_boxes"><img src="Content/images/vendor7.png" align="absmiddle" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_boxes"><img src="Content/images/vendor8.png" align="absmiddle" /></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_boxes"><img src="Content/images/vendor9.png" align="absmiddle" /></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_boxes"><img src="Content/images/vendor10.png" align="absmiddle" /></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="paddingouter">
                            <div class="clients_boxes"><img src="Content/images/vendor11.png" align="absmiddle" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>