<div id="partnersDiv" class="cca_continer marginT54" >
    <div class="row-fluid">
        <div class="span12">
            <div class="padding20">
                <h2>Partners</h2>
                <div class="list_results">
                    <div class="row-fluid">
                        <div class="span12">
                            {{if data!=null && data!=""}}
                                {{for data}}
                                    <div class="partner_list">
                                        <img src="{{:#parent.parent.data.site_base_ur}}{{:logo}}" class="partner_logo">
                                    </div>
                                {{/for}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 	
</div>