<div id="partnersDiv" class="cca_continer marginT54" >
    <div class="row-fluid">
        <div class="span12">
            <div class="padding20">
                <h2>Partners</h2>
                <div class="list_results">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="partner_list">
                                <img src="Content/images/v1.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v2.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v3.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v2.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v3.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v1.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v2.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v3.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v2.png" width="168" height="67">
                            </div>
                            <div class="partner_list">
                                <img src="Content/images/v3.png" width="168" height="67">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 	
</div>