<div id="aboutCCADiv" class="cca_continer" >
    <div class="row-fluid">
        <div class="span12">
            <div class="padding20">
                <h2>FAQs</h2>
                <div class="aboutus marginT7">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="about">{{:data.introtext}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 	
</div>