<div id="companyLogosDiv" class="cca_continer">    
    <div class="row-fluid">
        <div class="span12">
            <div class="clearfix padding4"></div>
            <div class="clearfix padding4"></div>
            <h2>&nbsp;&nbsp;Members</h2>
            <div class="clearfix padding4"></div>
            <div class="clearfix padding4"></div>
            <ul class="members_list">
            {{:membersLogo}}
            </ul>
            <div class="clearfix padding4"></div>
        </div>
    </div>
</div>
