<div id="aboutCCADiv" class="cca_continer" >
    <div class="row-fluid">
        <div class="span12">
            <div class="padding20">
                <h2>{{:data.title}}</h2>
                <div class="marginT7">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="about">{{:data.introtext}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 	
</div>


<script type="text/javascript">
//$(".circle").popover();
/*
	 setTimeout(function () {
   	 alert("Test");
       	$('.circle').popover('show');
   	 }, 500);
*/
$('.virtual_tour_ext').popover().click(function () {
	$('.circle').popover('hide');
});
$('.virtual_tour').popover().click(function () {
    $('.circle').popover('hide');
});

//$('#circle6').popover();

$('.circle').popover().click(function () {	
    $('.circle').not(this).popover('hide');
});

</script>